body{
  margin:0;
  padding:0;
  font-family:Arial;
  background:#f4f6f9;
}

/* LOGIN BOX */
#loginBox{
  width:400px;
  margin:100px auto;
  background:white;
  padding:40px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

#loginBox h1{
  text-align:center;
  margin-bottom:30px;
}

/* FORM GROUP */
.form-group{
  margin-bottom:20px;
}

.form-group label{
  display:block;
  margin-bottom:8px;
  font-weight:bold;
}

.form-group input{
  width:100%;
  padding:12px;
  border:1px solid #ccc;
  border-radius:8px;
}

/* BUTTON */
button{
  width:100%;
  padding:12px;
  background:green;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:darkgreen;
}

/* MAIN APP */
#app{
  width:85%;
  margin:40px auto;
  display:flex;
  gap:20px;
}

/* CARDS */
.card{
  flex:1;
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* INPUTS */
input, select, textarea{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:8px;
}

/* TABLE */
table{
  width:100%;
  border-collapse:collapse;
}

th, td{
  border:1px solid #ddd;
  padding:10px;
  text-align:center;
}

th{
  background:green;
  color:white;
}



/* ACTION BUTTONS */

.action-box{
  display:flex;
  flex-direction:column;
  gap:8px;
}

.approve-btn{
  background:green;
}

.reject-btn{
  background:orange;
}

.delete-btn{
  background:red;
}
